html, body{
  scroll-behavior: smooth;
}
body {
  background-color: $bcg-color;
  font-size: $basic-font-size;
  font-family: $default-font-family;
  color: $dark-color;
  @include mq(xxxlarge){
    background-color: $dark-color;
  }
}

.wrap{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  @include mq(xlarge){
    flex-direction: row;
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

