.skills{
    display: flex;
    height: 100vh;
    background-color: $dark-color;
    justify-content: center;
    align-items: center;
    @include mq(xlarge){
        width: 50%;
    }
    &__info{
        position: relative;
        width: 80%;
        height: 70vh;
        padding: 10% 5%;
        background-color: darken($color: $dark-color, $amount: 10%);
        color: $light-blue;
        overflow: scroll;
        @include mq(small){
            @media (orientation: landscape) {
                height: 80vh;
                padding: 2% 5%;
            }
        }
        @include mq(xlarge){
            width: 80%;
            height: 70vh;
        }
    }
    &__img{
        position: absolute;
        top: 3%;
        right: 5%;
        width: 18%;
        height: 18%;
        animation: animationSkillsIcon 10s linear infinite;
        @include mq(xsmall){
            top: 2%;
        }
        @include mq(medium){
            top: 7%;
            width: 10%;
            height: 10%;
            @media (orientation: landscape){
                top: 3%;
                right: 3%;
                width: 15%;
                height: 15%;
            }
        }
        @include mq(xlarge){
            top: 1%;
            width: 10%;
            height: 10%;
        }
        @include mq(xxlarge){
            top: 2%;
        }
        @include mq(xxxlarge){
            top: 3%;
        }
    }
    &__title{
        font-weight: normal;
        margin-bottom: 10%;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include mq(small){
            @media (orientation: landscape) {
                margin-bottom: 5%;
                font-size: 1.5rem;
            }
        }
        @include mq(medium){
            font-size: 2.5rem;
            @media (orientation: landscape) {
                margin-bottom: 5%;
                font-size: 1.5rem;
            }
        }
        @include mq(xlarge){
            font-size: 2rem;
        }
        @include mq(xxxlarge){
            font-size: 2.5rem;
        }
    }
    &__front{
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 1rem;
        text-transform: uppercase;
        color: $bcg-color;
        letter-spacing: 1px;
        @include mq (xsmall){
            font-size: 1.2rem
        }
        @include mq(small){
            @media (orientation: landscape){
                margin-top: 3%;
                margin-bottom: 2%;
            }
        }
        @include mq (medium){
            font-size: 1.2rem
        }
        @include mq (large){
            font-size: 1.4rem
        }
    }
    &__text{
        font-size: 1rem;
        line-height: 140%;
        color: $bcg-color;
        letter-spacing: 1px;
        &:nth-of-type(1){
            padding-bottom: 10%;
            border-bottom: 1px solid white;
            @media (orientation: landscape) {
                padding-bottom: 5%;
            }
        }
        @include mq(xsmall){
            font-size: 1.2rem;
        }
        @include mq(small){
            font-size: 1.2rem;
            @media (orientation: landscape) {
                font-size: 1rem;
            }
        }
        @include mq(medium){
            font-size: 1.4rem;
            @media (orientation: landscape) {
                margin-bottom: 5%;
                font-size: 1.2rem;
            }
        }
        @include mq(xlarge){
            font-size: 1.4rem;
        }
        @include mq(xxxlarge){
            font-size: 1.6rem;
        }
    }
    &__span{
        color: $light-blue;
    }
}