$breakpoints: (
    xsmall: 360px,
    small: 460px,
    medium: 640px,
    large: 800px,
    xlarge: 1024px,
    xxlarge: 1280px,
    xxxlarge: 1440px,
);

$basic-font-size: 10px;
$default-font-family: 'roboto', 'sans-serif';
$max-size-width: 1400px;

$bcg-color: #F2F2F2;
$primary-color: #0583F2;
$dark-blue: #035AA6;
$light-blue: #2994F2;
$dark-color: #3C4C59;