.scrollSquareWrapper{
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.fa-arrow-alt-circle-up{
    font-size: 30px;
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        color: darken($color: $primary-color, $amount: 10%);
    }
    @include mq(xlarge){
        font-size: 40px;
    }
}