@keyframes animationSkillsIcon{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animationAboutIcon{
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes showMenu{
    100%{
        height: 15vh;
        background-color: $dark-color;
    }
}
@keyframes changeLogo{
    100%{
        color: $dark-blue;
        background-color: $bcg-color;
    }
}
@keyframes fontColor{
    100%{
        color: $dark-color;
    }
}
@keyframes backgroundAnimation{
    100%{
        background-color: $bcg-color;
    }
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}