.burger{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: $primary-color;
    line-height: 40px;
    z-index: 100;
    user-select: none;
    cursor: pointer;
    transition: 0.3s linear;
    @include mq(xlarge){
        display: none;
    }
}
.fa-bars{
    display: block;
}
.fa-times{
    display: none;
}


