@-webkit-keyframes animationSkillsIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animationSkillsIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animationAboutIcon {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes animationAboutIcon {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
  font-size: 10px;
  font-family: "roboto", "sans-serif";
  color: #3C4C59;
}

@media (min-width: 1440px) {
  body {
    background-color: #3C4C59;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #3C4C59;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
  font-size: 10px;
  overflow: hidden;
}

.backgroundImage {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.svg {
  stroke: #035AA6;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 24%;
  -webkit-animation: raise1 16s linear infinite;
          animation: raise1 16s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(-0.3) rotate(108deg);
          transform: scale(-0.3) rotate(108deg);
  z-index: -6;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(298deg);
            transform: scale(-0.3) rotate(298deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(298deg);
            transform: scale(-0.3) rotate(298deg);
  }
}

.svg:nth-child(2) {
  left: 83%;
  -webkit-animation: raise2 21s linear infinite;
          animation: raise2 21s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0) rotate(194deg);
          transform: scale(0) rotate(194deg);
  z-index: -5;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(118deg);
            transform: scale(0) rotate(118deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(118deg);
            transform: scale(0) rotate(118deg);
  }
}

.svg:nth-child(3) {
  left: 21%;
  -webkit-animation: raise3 10s linear infinite;
          animation: raise3 10s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.3) rotate(312deg);
          transform: scale(0.3) rotate(312deg);
  z-index: -4;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(208deg);
            transform: scale(0.3) rotate(208deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(208deg);
            transform: scale(0.3) rotate(208deg);
  }
}

.svg:nth-child(4) {
  left: 26%;
  -webkit-animation: raise4 16s linear infinite;
          animation: raise4 16s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.6) rotate(128deg);
          transform: scale(0.6) rotate(128deg);
  z-index: -3;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(266deg);
            transform: scale(0.6) rotate(266deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(266deg);
            transform: scale(0.6) rotate(266deg);
  }
}

.svg:nth-child(5) {
  left: 52%;
  -webkit-animation: raise5 21s linear infinite;
          animation: raise5 21s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.9) rotate(83deg);
          transform: scale(0.9) rotate(83deg);
  z-index: -2;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(169deg);
            transform: scale(0.9) rotate(169deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(169deg);
            transform: scale(0.9) rotate(169deg);
  }
}

.svg:nth-child(6) {
  left: 28%;
  -webkit-animation: raise6 12s linear infinite;
          animation: raise6 12s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.2) rotate(299deg);
          transform: scale(1.2) rotate(299deg);
  z-index: -1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(203deg);
            transform: scale(1.2) rotate(203deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(203deg);
            transform: scale(1.2) rotate(203deg);
  }
}

.svg:nth-child(7) {
  left: 96%;
  -webkit-animation: raise7 16s linear infinite;
          animation: raise7 16s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(1.5) rotate(275deg);
          transform: scale(1.5) rotate(275deg);
  z-index: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(220deg);
            transform: scale(1.5) rotate(220deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(220deg);
            transform: scale(1.5) rotate(220deg);
  }
}

.svg:nth-child(8) {
  left: 19%;
  -webkit-animation: raise8 14s linear infinite;
          animation: raise8 14s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.8) rotate(86deg);
          transform: scale(1.8) rotate(86deg);
  z-index: 1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(133deg);
            transform: scale(1.8) rotate(133deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(133deg);
            transform: scale(1.8) rotate(133deg);
  }
}

.svg:nth-child(9) {
  left: -12%;
  -webkit-animation: raise9 7s linear infinite;
          animation: raise9 7s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(2.1) rotate(73deg);
          transform: scale(2.1) rotate(73deg);
  z-index: 2;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(244deg);
            transform: scale(2.1) rotate(244deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(244deg);
            transform: scale(2.1) rotate(244deg);
  }
}

.svg:nth-child(10) {
  left: -12%;
  -webkit-animation: raise10 15s linear infinite;
          animation: raise10 15s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(2.4) rotate(217deg);
          transform: scale(2.4) rotate(217deg);
  z-index: 3;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(221deg);
            transform: scale(2.4) rotate(221deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(221deg);
            transform: scale(2.4) rotate(221deg);
  }
}

.header {
  position: relative;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.header__title, .header__welcome, .header__span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__title {
  top: 50%;
  font-size: 2rem;
  opacity: 0;
  -webkit-transition: 1s 1s;
  transition: 1s 1s;
}

@media (min-width: 360px) {
  .header__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 460px) {
  .header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 3.6rem;
  }
}

.header__welcome {
  top: 40%;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 360px) {
  .header__welcome {
    font-size: 1.8rem;
  }
}

@media (min-width: 460px) {
  .header__welcome {
    font-size: 2rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .header__welcome {
    top: 30%;
  }
}

@media (min-width: 800px) {
  .header__welcome {
    top: 35%;
  }
}

@media (min-width: 1024px) {
  .header__welcome {
    top: 40%;
    font-size: 2.4rem;
  }
}

@media (min-width: 1440px) {
  .header__welcome {
    font-size: 3rem;
  }
}

.header__span {
  top: 60%;
  font-size: 1rem;
  opacity: 0;
  -webkit-transition: 1s 2s;
  transition: 1s 2s;
}

@media (min-width: 360px) {
  .header__span {
    font-size: 1.4rem;
  }
}

@media (min-width: 460px) {
  .header__span {
    font-size: 1.6rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .header__span {
    top: 70%;
  }
}

@media (min-width: 800px) {
  .header__span {
    top: 65%;
  }
}

@media (min-width: 1024px) {
  .header__span {
    top: 60%;
    font-size: 2.0rem;
  }
}

@media (min-width: 1440px) {
  .header__span {
    font-size: 2.5rem;
  }
}

.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3C4C59;
  font-size: 2rem;
  color: #F2F2F2;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.burger--active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: #3C4C59;
  opacity: 0.9;
  z-index: 99;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1024px) {
  .menu {
    opacity: 0.95;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  z-index: 99;
}

@media (min-width: 1024px) {
  .menu__list {
    top: 0;
    height: 15vh;
    background-color: #3C4C59;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu__item {
  display: block;
  margin: 1.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__item--first, .menu__item--second, .menu__item--third, .menu__item--fourth, .menu__item--fifth {
  opacity: 0;
}

@media (min-width: 1024px) {
  .menu__item--first, .menu__item--second, .menu__item--third, .menu__item--fourth, .menu__item--fifth {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .menu__item {
    color: #F2F2F2;
    margin: 1%;
    font-size: 1rem;
    cursor: pointer;
  }
}

.menu__logo {
  position: fixed;
  top: 2vh;
  left: 1%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  background-color: #3C4C59;
  color: #F2F2F2;
  font-size: 1.2rem;
  letter-spacing: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100;
}

@media (min-width: 1024px) {
  .menu__logo {
    top: 4vh;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #F2F2F2;
    color: #035AA6;
    font-size: 1.6rem;
  }
}

@media (min-width: 1440px) {
  .menu__logo {
    top: 3vh;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #F2F2F2;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.menu__link:hover {
  color: #2994F2;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #3C4C59;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .about {
    width: 50%;
  }
}

.about__info {
  position: relative;
  width: 80%;
  height: 70vh;
  padding: 10% 5%;
  background-color: #27323b;
  color: #2994F2;
  overflow: scroll;
}

@media (min-width: 460px) and (orientation: landscape) {
  .about__info {
    height: 80vh;
    padding: 3% 5%;
  }
}

@media (min-width: 1024px) {
  .about__info {
    width: 80%;
    height: 70vh;
  }
}

.about__img {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 18%;
  height: 18%;
  -webkit-animation: animationAboutIcon 2s infinite alternate linear;
          animation: animationAboutIcon 2s infinite alternate linear;
}

@media (min-width: 360px) {
  .about__img {
    top: 2%;
  }
}

@media (min-width: 640px) {
  .about__img {
    top: 7%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__img {
    top: 3%;
    right: 3%;
    width: 15%;
    height: 15%;
  }
}

@media (min-width: 1024px) {
  .about__img {
    top: 1%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1280px) {
  .about__img {
    top: 2%;
  }
}

@media (min-width: 1440px) {
  .about__img {
    top: 3%;
  }
}

.about__title {
  font-weight: normal;
  margin-bottom: 10%;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 460px) and (orientation: landscape) {
  .about__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .about__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .about__title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .about__title {
    font-size: 2.5rem;
  }
}

.about__text {
  font-size: 1rem;
  line-height: 140%;
  color: #F2F2F2;
}

@media (min-width: 360px) {
  .about__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) {
  .about__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .about__text {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .about__text {
    font-size: 1.6rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__text {
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .about__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .about__text {
    font-size: 1.6rem;
  }
}

.about__span {
  color: #2994F2;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #3C4C59;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .skills {
    width: 50%;
  }
}

.skills__info {
  position: relative;
  width: 80%;
  height: 70vh;
  padding: 10% 5%;
  background-color: #27323b;
  color: #2994F2;
  overflow: scroll;
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__info {
    height: 80vh;
    padding: 2% 5%;
  }
}

@media (min-width: 1024px) {
  .skills__info {
    width: 80%;
    height: 70vh;
  }
}

.skills__img {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 18%;
  height: 18%;
  -webkit-animation: animationSkillsIcon 10s linear infinite;
          animation: animationSkillsIcon 10s linear infinite;
}

@media (min-width: 360px) {
  .skills__img {
    top: 2%;
  }
}

@media (min-width: 640px) {
  .skills__img {
    top: 7%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .skills__img {
    top: 3%;
    right: 3%;
    width: 15%;
    height: 15%;
  }
}

@media (min-width: 1024px) {
  .skills__img {
    top: 1%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1280px) {
  .skills__img {
    top: 2%;
  }
}

@media (min-width: 1440px) {
  .skills__img {
    top: 3%;
  }
}

.skills__title {
  font-weight: normal;
  margin-bottom: 10%;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .skills__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .skills__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .skills__title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .skills__title {
    font-size: 2.5rem;
  }
}

.skills__front {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1rem;
  text-transform: uppercase;
  color: #F2F2F2;
  letter-spacing: 1px;
}

@media (min-width: 360px) {
  .skills__front {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__front {
    margin-top: 3%;
    margin-bottom: 2%;
  }
}

@media (min-width: 640px) {
  .skills__front {
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  .skills__front {
    font-size: 1.4rem;
  }
}

.skills__text {
  font-size: 1rem;
  line-height: 140%;
  color: #F2F2F2;
  letter-spacing: 1px;
}

.skills__text:nth-of-type(1) {
  padding-bottom: 10%;
  border-bottom: 1px solid white;
}

@media (orientation: landscape) {
  .skills__text:nth-of-type(1) {
    padding-bottom: 5%;
  }
}

@media (min-width: 360px) {
  .skills__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) {
  .skills__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__text {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .skills__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .skills__text {
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .skills__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .skills__text {
    font-size: 1.6rem;
  }
}

.skills__span {
  color: #2994F2;
}

.projects {
  padding-top: 15vh;
  text-align: center;
  background-color: #F2F2F2;
}

.projects__title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .projects__title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1280px) {
  .projects__title {
    font-size: 2.6rem;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15vh 0;
}

@media (min-width: 1024px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10vh 5%;
  }
  .project:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.project__img {
  width: 90%;
  margin-bottom: 5vh;
  -webkit-box-shadow: 2px -2px 10px 4px #3C4C59;
          box-shadow: 2px -2px 10px 4px #3C4C59;
}

@media (min-width: 1024px) {
  .project__img {
    width: 50%;
  }
}

.project__picture {
  width: 100%;
}

@media (min-width: 1024px) {
  .project__description {
    width: 50%;
  }
}

.project__title {
  font-size: 1.5rem;
  padding-bottom: 2%;
}

@media (min-width: 640px) {
  .project__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1280px) {
  .project__title {
    font-size: 2rem;
  }
}

.project__created {
  font-size: 1rem;
  padding-bottom: 2%;
}

@media (min-width: 640px) {
  .project__created {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .project__created {
    font-size: 1.4rem;
  }
}

.project__live {
  font-size: 1rem;
  padding-bottom: 2px;
  color: #0583F2;
  text-decoration: none;
}

.project__live:hover {
  color: #035aa7;
  border-bottom: 2px solid #3C4C59;
}

@media (min-width: 640px) {
  .project__live {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .project__live {
    font-size: 1.4rem;
  }
}

.project__text {
  font-size: 1rem;
  padding: 5%;
}

@media (min-width: 640px) {
  .project__text {
    font-size: 1.2rem;
    padding: 5% 10%;
  }
}

@media (min-width: 1280px) {
  .project__text {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=index.css.map */