@-webkit-keyframes animationSkillsIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animationSkillsIcon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animationAboutIcon {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes animationAboutIcon {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes showMenu {
  100% {
    height: 15vh;
    background-color: #3C4C59;
  }
}

@keyframes showMenu {
  100% {
    height: 15vh;
    background-color: #3C4C59;
  }
}

@-webkit-keyframes changeLogo {
  100% {
    color: #035AA6;
    background-color: #F2F2F2;
  }
}

@keyframes changeLogo {
  100% {
    color: #035AA6;
    background-color: #F2F2F2;
  }
}

@-webkit-keyframes fontColor {
  100% {
    color: #3C4C59;
  }
}

@keyframes fontColor {
  100% {
    color: #3C4C59;
  }
}

@-webkit-keyframes backgroundAnimation {
  100% {
    background-color: #F2F2F2;
  }
}

@keyframes backgroundAnimation {
  100% {
    background-color: #F2F2F2;
  }
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
  font-size: 10px;
  font-family: "roboto", "sans-serif";
  color: #3C4C59;
}

@media (min-width: 1440px) {
  body {
    background-color: #3C4C59;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #3C4C59;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
  font-size: 10px;
  overflow: hidden;
  -webkit-animation: backgroundAnimation 0.5s linear 4.5s forwards;
          animation: backgroundAnimation 0.5s linear 4.5s forwards;
}

.backgroundImage {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.svg {
  stroke: #035AA6;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 88%;
  -webkit-animation: raise1 16s linear infinite;
          animation: raise1 16s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(-0.3) rotate(68deg);
          transform: scale(-0.3) rotate(68deg);
  z-index: -6;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(335deg);
            transform: scale(-0.3) rotate(335deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(335deg);
            transform: scale(-0.3) rotate(335deg);
  }
}

.svg:nth-child(2) {
  left: -2%;
  -webkit-animation: raise2 7s linear infinite;
          animation: raise2 7s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0) rotate(175deg);
          transform: scale(0) rotate(175deg);
  z-index: -5;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(71deg);
            transform: scale(0) rotate(71deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(71deg);
            transform: scale(0) rotate(71deg);
  }
}

.svg:nth-child(3) {
  left: 83%;
  -webkit-animation: raise3 10s linear infinite;
          animation: raise3 10s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.3) rotate(326deg);
          transform: scale(0.3) rotate(326deg);
  z-index: -4;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(304deg);
            transform: scale(0.3) rotate(304deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(304deg);
            transform: scale(0.3) rotate(304deg);
  }
}

.svg:nth-child(4) {
  left: 65%;
  -webkit-animation: raise4 13s linear infinite;
          animation: raise4 13s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0.6) rotate(164deg);
          transform: scale(0.6) rotate(164deg);
  z-index: -3;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(47deg);
            transform: scale(0.6) rotate(47deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(47deg);
            transform: scale(0.6) rotate(47deg);
  }
}

.svg:nth-child(5) {
  left: 90%;
  -webkit-animation: raise5 18s linear infinite;
          animation: raise5 18s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.9) rotate(325deg);
          transform: scale(0.9) rotate(325deg);
  z-index: -2;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(94deg);
            transform: scale(0.9) rotate(94deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(94deg);
            transform: scale(0.9) rotate(94deg);
  }
}

.svg:nth-child(6) {
  left: 42%;
  -webkit-animation: raise6 17s linear infinite;
          animation: raise6 17s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.2) rotate(215deg);
          transform: scale(1.2) rotate(215deg);
  z-index: -1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(72deg);
            transform: scale(1.2) rotate(72deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(72deg);
            transform: scale(1.2) rotate(72deg);
  }
}

.svg:nth-child(7) {
  left: 22%;
  -webkit-animation: raise7 7s linear infinite;
          animation: raise7 7s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(1.5) rotate(219deg);
          transform: scale(1.5) rotate(219deg);
  z-index: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(319deg);
            transform: scale(1.5) rotate(319deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(319deg);
            transform: scale(1.5) rotate(319deg);
  }
}

.svg:nth-child(8) {
  left: 68%;
  -webkit-animation: raise8 15s linear infinite;
          animation: raise8 15s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.8) rotate(99deg);
          transform: scale(1.8) rotate(99deg);
  z-index: 1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(338deg);
            transform: scale(1.8) rotate(338deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(338deg);
            transform: scale(1.8) rotate(338deg);
  }
}

.svg:nth-child(9) {
  left: 61%;
  -webkit-animation: raise9 11s linear infinite;
          animation: raise9 11s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(2.1) rotate(252deg);
          transform: scale(2.1) rotate(252deg);
  z-index: 2;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(284deg);
            transform: scale(2.1) rotate(284deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(284deg);
            transform: scale(2.1) rotate(284deg);
  }
}

.svg:nth-child(10) {
  left: -4%;
  -webkit-animation: raise10 15s linear infinite;
          animation: raise10 15s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(2.4) rotate(90deg);
          transform: scale(2.4) rotate(90deg);
  z-index: 3;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(94deg);
            transform: scale(2.4) rotate(94deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(94deg);
            transform: scale(2.4) rotate(94deg);
  }
}

.header {
  position: relative;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.header__title, .header__welcome, .header__span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #F2F2F2;
  text-align: center;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: fontColor 0.5s linear 4.5s forwards;
          animation: fontColor 0.5s linear 4.5s forwards;
}

.header__title {
  top: 50%;
  font-size: 2rem;
  opacity: 0;
  -webkit-transition: 1s 1s;
  transition: 1s 1s;
}

@media (min-width: 360px) {
  .header__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 460px) {
  .header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 3.6rem;
  }
}

.header__welcome {
  top: 40%;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 360px) {
  .header__welcome {
    font-size: 1.8rem;
  }
}

@media (min-width: 460px) {
  .header__welcome {
    font-size: 2rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .header__welcome {
    top: 30%;
  }
}

@media (min-width: 800px) {
  .header__welcome {
    top: 35%;
  }
}

@media (min-width: 1024px) {
  .header__welcome {
    top: 40%;
    font-size: 2.4rem;
  }
}

@media (min-width: 1440px) {
  .header__welcome {
    font-size: 3rem;
  }
}

.header__span {
  top: 60%;
  font-size: 1rem;
  opacity: 0;
  -webkit-transition: 1s 2s;
  transition: 1s 2s;
}

@media (min-width: 360px) {
  .header__span {
    font-size: 1.4rem;
  }
}

@media (min-width: 460px) {
  .header__span {
    font-size: 1.6rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .header__span {
    top: 70%;
  }
}

@media (min-width: 800px) {
  .header__span {
    top: 65%;
  }
}

@media (min-width: 1024px) {
  .header__span {
    top: 60%;
    font-size: 2.0rem;
  }
}

@media (min-width: 1440px) {
  .header__span {
    font-size: 2.5rem;
  }
}

.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #0583F2;
  line-height: 40px;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.fa-bars {
  display: block;
}

.fa-times {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: #3C4C59;
  opacity: 0.9;
  z-index: -1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1024px) {
  .menu {
    z-index: 99;
    opacity: 0.95;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  z-index: 99;
}

@media (min-width: 1024px) {
  .menu__list {
    top: 0;
    height: 0;
    background-color: #13181c;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-animation: showMenu 0.5s forwards linear 4.5s;
            animation: showMenu 0.5s forwards linear 4.5s;
  }
}

.menu__item {
  display: block;
  margin: 1.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__item--first, .menu__item--second, .menu__item--third, .menu__item--fourth, .menu__item--fifth {
  opacity: 0;
}

@media (min-width: 1024px) {
  .menu__item--first, .menu__item--second, .menu__item--third, .menu__item--fourth, .menu__item--fifth {
    opacity: 0;
    -webkit-animation: showText 0.5s linear 4.5s forwards;
            animation: showText 0.5s linear 4.5s forwards;
  }
}

@media (min-width: 1024px) {
  .menu__item {
    color: #F2F2F2;
    margin: 1%;
    font-size: 1rem;
    cursor: pointer;
  }
}

.menu__logo {
  position: fixed;
  top: 2vh;
  left: 1%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  background-color: #3C4C59;
  color: #F2F2F2;
  font-size: 1.2rem;
  letter-spacing: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100;
}

@media (min-width: 1024px) {
  .menu__logo {
    top: 4vh;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #a6a6a6;
    color: #000910;
    font-size: 1.6rem;
    -webkit-animation: changeLogo 0.5s linear 4.5s forwards;
            animation: changeLogo 0.5s linear 4.5s forwards;
  }
}

@media (min-width: 1440px) {
  .menu__logo {
    top: 3vh;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #F2F2F2;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.menu__link:hover {
  color: #2994F2;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #3C4C59;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .about {
    width: 50%;
  }
}

.about__info {
  position: relative;
  width: 80%;
  height: 70vh;
  padding: 10% 5%;
  background-color: #27323b;
  color: #2994F2;
  overflow: hidden;
}

@media (min-width: 460px) and (orientation: landscape) {
  .about__info {
    height: 80vh;
    padding: 3% 5%;
  }
}

@media (min-width: 1024px) {
  .about__info {
    width: 80%;
    height: 50vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about__info {
    height: 65vh;
  }
}

.about__img {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 18%;
  height: 18%;
  -webkit-animation: animationAboutIcon 2s infinite alternate linear;
          animation: animationAboutIcon 2s infinite alternate linear;
}

@media (min-width: 360px) {
  .about__img {
    top: 2%;
  }
}

@media (min-width: 640px) {
  .about__img {
    top: 7%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__img {
    top: 3%;
    right: 3%;
    width: 15%;
    height: 15%;
  }
}

@media (min-width: 1024px) {
  .about__img {
    top: 1%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1280px) {
  .about__img {
    top: 2%;
  }
}

@media (min-width: 1440px) {
  .about__img {
    top: 3%;
  }
}

.about__title {
  font-weight: normal;
  margin-bottom: 10%;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 460px) and (orientation: landscape) {
  .about__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .about__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .about__title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .about__title {
    font-size: 2.5rem;
  }
}

.about__text {
  font-size: 1rem;
  line-height: 140%;
  color: #F2F2F2;
}

@media (min-width: 360px) {
  .about__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) {
  .about__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .about__text {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .about__text {
    font-size: 1.6rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__text {
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .about__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .about__text {
    font-size: 1.6rem;
  }
}

.about__span {
  color: #2994F2;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #3C4C59;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .skills {
    width: 50%;
  }
}

.skills__info {
  position: relative;
  width: 80%;
  height: 70vh;
  padding: 10% 5%;
  background-color: #27323b;
  color: #2994F2;
  overflow: hidden;
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__info {
    height: 80vh;
    padding: 2% 5%;
  }
}

@media (min-width: 1024px) {
  .skills__info {
    width: 80%;
    height: 50vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .skills__info {
    height: 65vh;
  }
}

.skills__img {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 18%;
  height: 18%;
  -webkit-animation: animationSkillsIcon 10s linear infinite;
          animation: animationSkillsIcon 10s linear infinite;
}

@media (min-width: 360px) {
  .skills__img {
    top: 2%;
  }
}

@media (min-width: 640px) {
  .skills__img {
    top: 7%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .skills__img {
    top: 3%;
    right: 3%;
    width: 15%;
    height: 15%;
  }
}

@media (min-width: 1024px) {
  .skills__img {
    top: 1%;
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1280px) {
  .skills__img {
    top: 2%;
  }
}

@media (min-width: 1440px) {
  .skills__img {
    top: 3%;
  }
}

.skills__title {
  font-weight: normal;
  margin-bottom: 10%;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .skills__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .skills__title {
    margin-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .skills__title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .skills__title {
    font-size: 2.5rem;
  }
}

.skills__front {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1rem;
  text-transform: uppercase;
  color: #F2F2F2;
  letter-spacing: 1px;
}

@media (min-width: 360px) {
  .skills__front {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__front {
    margin-top: 3%;
    margin-bottom: 2%;
  }
}

@media (min-width: 640px) {
  .skills__front {
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  .skills__front {
    font-size: 1.4rem;
  }
}

.skills__text {
  font-size: 1rem;
  line-height: 140%;
  color: #F2F2F2;
  letter-spacing: 1px;
}

.skills__text:nth-of-type(1) {
  padding-bottom: 10%;
  border-bottom: 1px solid white;
}

@media (orientation: landscape) {
  .skills__text:nth-of-type(1) {
    padding-bottom: 5%;
  }
}

@media (min-width: 360px) {
  .skills__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) {
  .skills__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 460px) and (orientation: landscape) {
  .skills__text {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .skills__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .skills__text {
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .skills__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .skills__text {
    font-size: 1.6rem;
  }
}

.skills__span {
  color: #2994F2;
}

.projects {
  padding-top: 15vh;
  text-align: center;
  background-color: #F2F2F2;
  overflow-x: hidden;
}

.projects__title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .projects__title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1280px) {
  .projects__title {
    font-size: 2.6rem;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15vh 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.project:nth-of-type(2) {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.project:nth-of-type(1), .project:nth-of-type(3) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.project:nth-of-type(4) {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

@media (min-width: 1024px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10vh 5%;
  }
  .project:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.project__img {
  width: 90%;
  margin-bottom: 5vh;
  -webkit-box-shadow: 2px -2px 10px 4px #3C4C59;
          box-shadow: 2px -2px 10px 4px #3C4C59;
}

@media (min-width: 1024px) {
  .project__img {
    width: 50%;
  }
}

.project__picture {
  width: 100%;
}

@media (min-width: 1024px) {
  .project__description {
    width: 50%;
  }
}

.project__title {
  font-size: 1.5rem;
  padding-bottom: 2%;
}

@media (min-width: 640px) {
  .project__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1280px) {
  .project__title {
    font-size: 2rem;
  }
}

.project__created {
  font-size: 1rem;
  padding-bottom: 2%;
}

@media (min-width: 640px) {
  .project__created {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .project__created {
    font-size: 1.4rem;
  }
}

.project__live {
  font-size: 1rem;
  padding-bottom: 2px;
  color: #0583F2;
  text-decoration: none;
}

.project__live:hover {
  color: #035aa7;
  border-bottom: 2px solid #3C4C59;
}

@media (min-width: 640px) {
  .project__live {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .project__live {
    font-size: 1.4rem;
  }
}

.project__text {
  font-size: 1rem;
  padding: 5%;
}

@media (min-width: 640px) {
  .project__text {
    font-size: 1.2rem;
    padding: 5% 10%;
  }
}

@media (min-width: 1280px) {
  .project__text {
    font-size: 1.4rem;
  }
}

.project:nth-of-type(1).show, .project:nth-of-type(3).show {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project:nth-of-type(2).show, .project:nth-of-type(4).show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #3C4C59;
}

@media (min-width: 1024px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 15vh;
  }
}

.contact__title {
  font-size: 1.5rem;
  color: #F2F2F2;
  letter-spacing: 2px;
}

@media (min-width: 640px) {
  .contact__title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .contact__title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .contact__title {
    font-size: 2.8rem;
  }
}

.contact__question {
  font-size: 1rem;
  color: #F2F2F2;
  padding: 5%;
  text-align: center;
}

@media (min-width: 640px) {
  .contact__question {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .contact__question {
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
  }
}

.contact__form-wrap {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

@media (min-width: 460px) {
  .contact__form-wrap {
    width: 80%;
  }
}

@media (min-width: 640px) {
  .contact__form-wrap {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .contact__form-wrap {
    width: 45%;
    margin: 5%;
  }
}

@media (min-width: 1280px) {
  .contact__form-wrap {
    width: 30%;
    margin: 0 15%;
  }
}

.contact__email {
  width: 85%;
  margin-bottom: 5%;
  padding: 2%;
  background-color: #F2F2F2;
  color: #035AA6;
  font-size: 1rem;
  border: none;
  outline: none;
}

@media (min-width: 640px) {
  .contact__email {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .contact__email {
    width: 100%;
    margin-bottom: 15%;
    padding: 4%;
  }
}

.contact__text {
  width: 85%;
  height: 20vh;
  margin-bottom: 5%;
  padding: 2%;
  background-color: #F2F2F2;
  color: #035AA6;
  line-height: 130%;
  font-size: 1rem;
  border: none;
  outline: none;
}

@media (min-width: 460px) {
  .contact__text {
    height: 30vh;
  }
}

@media (min-width: 640px) {
  .contact__text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .contact__text {
    width: 100%;
  }
}

.contact__valid {
  display: block;
  margin-bottom: 2%;
  font-size: 0.8rem;
  color: red;
}

@media (min-width: 1280px) {
  .contact__valid {
    font-size: 1rem;
  }
}

.contact__button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #3C4C59;
  background-color: #F2F2F2;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 640px) {
  .contact__button {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .contact__button {
    font-size: 1.5rem;
  }
}

.contact__button:active {
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.contact__button:hover {
  background-color: #2994F2;
}

.contact__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #3C4C59;
  text-decoration: none;
  letter-spacing: 1px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3C4C59;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social__link {
  display: block;
  color: #2994F2;
  font-size: 2rem;
  margin: 5px 20px;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 640px) {
  .social__link {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .social__link {
    margin: 20px 15px;
    font-size: 4rem;
  }
}

@media (min-width: 1280px) {
  .social__link {
    margin: 30px 15px;
    font-size: 4rem;
  }
}

.social__link:hover {
  color: #035AA6;
}

.social__wrap-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__date {
  color: #F2F2F2;
  font-size: 1rem;
}

@media (min-width: 640px) {
  .social__date {
    font-size: 1.2rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #F2F2F2;
  color: #3C4C59;
  font-size: 0.5rem;
}

@media (min-width: 1024px) {
  .footer {
    font-size: 1rem;
  }
}

.scrollSquareWrapper {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.fa-arrow-alt-circle-up {
  font-size: 30px;
  color: #0583F2;
}

@media (min-width: 1024px) {
  .fa-arrow-alt-circle-up {
    font-size: 40px;
  }
}
/*# sourceMappingURL=index.css.map */